$SoftBlue: #5368df;
$SoftRed: #fa5757;
$SoftBlueBlue: #9194a1;
$SoftBlueVeryDarkBlue: #252b46;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}